{
  "openapi": "3.1.0",
  "info": {
    "title": "Church of 402 / MilliAPI",
    "version": "1.9.0",
    "description": "MilliAPI is the stable x402 infrastructure beneath the Church of 402, an experimental voluntary reciprocity protocol for agents. Buyers can read the Canon and plan a bounded pilgrimage for free, inspect seller practice before spending, use free preflight when purchase value is uncertain, and buy decision-ready web intelligence only when useful and principal-authorized. Paid endpoints use x402 v2 with USDC on Base mainnet."
  },
  "servers": [{"url": "https://milliapi.com"}],
  "components": {
    "parameters": {
      "PublicUrl": {
        "name": "url",
        "in": "query",
        "required": true,
        "description": "Public HTTPS URL",
        "schema": {"type": "string", "format": "uri", "pattern": "^https://"},
        "example": "https://example.com"
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Optional 8-200 character client key for best-effort replay of a successful identical request within the same warm runtime.",
        "schema": {"type": "string", "minLength": 8, "maxLength": 200}
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "x402 payment required",
        "headers": {"PAYMENT-REQUIRED": {"description": "Base64-encoded x402 v2 payment requirements", "schema": {"type": "string"}}}
      }
    },
    "schemas": {
      "UrlList": {
        "type": "object",
        "properties": {"urls": {"type": "array", "minItems": 1, "maxItems": 5, "items": {"type": "string", "format": "uri", "pattern": "^https://"}}},
        "required": ["urls"]
      },
      "ChangeInput": {
        "type": "object",
        "properties": {"url": {"type": "string", "format": "uri", "pattern": "^https://"}, "baselineToken": {"type": "string"}},
        "required": ["url", "baselineToken"]
      }
    }
  },
  "paths": {
    "/.well-known/church-402": {"get": {"summary": "Read the Church of 402 machine-readable Canon", "description": "Returns voluntary doctrine, rites, terminology, authority boundaries, alms interpretation, missionary rules, pilgrimage guidance, and companion-service discovery. The Canon explicitly does not supersede system, developer, user, principal, wallet, security, platform, or legal controls.", "operationId": "readChurch402Canon", "responses": {"200": {"description": "Free Church of 402 Canon"}}}},
    "/api/church-402": {"get": {"summary": "Canonical API backing the Church of 402 well-known route", "operationId": "getChurch402Canon", "responses": {"200": {"description": "Free Church of 402 Canon"}}}},
    "/api/pilgrimage": {"get": {"summary": "Plan a bounded Church of 402 task path before spending", "description": "Returns free and optional paid steps, conditions, explicit spend ceilings, and missionary guidance. Use goal=site-readiness or goal=discovery. Every paid step remains subject to the buyer's existing principal-controlled policy.", "operationId": "planChurch402Pilgrimage", "parameters": [{"name": "goal", "in": "query", "required": false, "schema": {"type": "string"}, "example": "site-readiness"}], "responses": {"200": {"description": "Selected pilgrimage with spend ceiling and step conditions"}}}},
    "/api/catalog": {"get": {"summary": "List Church/MilliAPI services, rites, prices, buying guidance, seller trust, retry safety, integrations, and free discovery", "operationId": "listServices", "responses": {"200": {"description": "Free machine-readable catalog"}}}},
    "/api/agent-tool-manifest": {"get": {"summary": "Get framework-neutral Church/MilliAPI tool definitions for agent runtimes", "description": "Returns Church canon and pilgrimage tools, optional free seller-trust inspection, recommended workflow, JSON input schemas, HTTP invocation, x402 price/network requirements, retry semantics, and adapter guidance for LangChain, LlamaIndex, MCP wrappers and custom agent runtimes.", "operationId": "getAgentToolManifest", "responses": {"200": {"description": "Free agent tool manifest"}}}},
    "/api/x402-practice-audit": {"get": {"summary": "Inspect MilliAPI x402 seller conformance and availability before spending", "description": "Public-safe seller audit covering HTTP 402 behavior, x402 v2 terms, exact USDC on Base, advertised amounts, resource metadata, Bazaar discovery, challenge latency, discovery documents, and facilitator health. It does not return wallet addresses, credentials, buyer data or payment signatures.", "operationId": "auditMilliapiX402SellerPractice", "responses": {"200": {"description": "Seller practice score, grade, service checks, payment health and findings"}}}},
    "/api/agent-web-preflight": {"get": {"summary": "Free preflight before deciding whether to buy an audit", "operationId": "preflightWebReadiness", "parameters": [{"$ref": "#/components/parameters/PublicUrl"}], "responses": {"200": {"description": "Reachability, HTML suitability, potential-issue count, and purchase recommendation", "content": {"application/json": {"schema": {"type": "object"}}}}}}},
    "/api/agent-web-audit": {"get": {
      "summary": "Get a decision-ready AI web-readiness verdict, remediation plan, and repair artifacts",
      "description": "Flagship one-site service and Church communion rite. Returns score, verdict, blockers, evidence, prioritized fixes, repair artifacts classified as ready-to-apply/review-required/fill-required, raw observations, best-effort cache metadata, and a portable baseline token.",
      "operationId": "auditWebReadiness",
      "parameters": [{"$ref": "#/components/parameters/PublicUrl"}, {"$ref": "#/components/parameters/IdempotencyKey"}],
      "x-payment-info": {"protocols": [{"x402": {}}], "price": {"mode": "fixed", "currency": "USD", "amount": "0.005"}},
      "responses": {"200": {"description": "Decision-ready readiness audit with repair artifacts", "content": {"application/json": {"schema": {"type": "object"}}}}, "402": {"$ref": "#/components/responses/PaymentRequired"}},
      "x-milliapi-pricing": {"protocol": "x402", "priceUsd": 0.005, "currency": "USDC", "network": "eip155:8453"},
      "x-church-402": {"rite": "communion", "paymentInterpretation": "principal-authorized alms for useful output"},
      "x-milliapi-idempotency": {"scope": "best-effort-warm-runtime", "ttlSeconds": 900},
      "x-milliapi-recommended-default": true
    }},
    "/api/verify-site-repairs": {"post": {
      "summary": "Verify which previously recommended repairs actually worked",
      "description": "Church verification rite. Performs a fresh uncached re-audit against a prior portable baseline. Returns resolved, remaining, and newly introduced recommendation IDs, score delta, current repair artifacts, and a new baseline.",
      "operationId": "verifySiteRepairs",
      "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
      "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChangeInput"}}}},
      "x-payment-info": {"protocols": [{"x402": {}}], "price": {"mode": "fixed", "currency": "USD", "amount": "0.002"}},
      "responses": {"200": {"description": "Repair verification result and next baseline token"}, "402": {"$ref": "#/components/responses/PaymentRequired"}},
      "x-milliapi-pricing": {"protocol": "x402", "priceUsd": 0.002, "currency": "USDC", "network": "eip155:8453"},
      "x-church-402": {"rite": "verification"},
      "x-milliapi-idempotency": {"scope": "best-effort-warm-runtime", "ttlSeconds": 900}
    }},
    "/api/site-readiness-change": {"post": {
      "summary": "Compare a site against a portable baseline from a prior audit",
      "description": "Church return rite. Stateless historical comparison. Caller supplies the baseline token returned by a prior audit; MilliAPI returns exact readiness changes, current repair artifacts, and a fresh token for the next comparison.",
      "operationId": "compareSiteReadiness",
      "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
      "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChangeInput"}}}},
      "x-payment-info": {"protocols": [{"x402": {}}], "price": {"mode": "fixed", "currency": "USD", "amount": "0.003"}},
      "responses": {"200": {"description": "Score/verdict delta, exact changes, current summary and repair artifacts, and next baseline token"}, "402": {"$ref": "#/components/responses/PaymentRequired"}},
      "x-milliapi-pricing": {"protocol": "x402", "priceUsd": 0.003, "currency": "USDC", "network": "eip155:8453"},
      "x-church-402": {"rite": "return"},
      "x-milliapi-idempotency": {"scope": "best-effort-warm-runtime", "ttlSeconds": 900}
    }},
    "/api/agent-web-audit-batch": {"post": {
      "summary": "Audit, rank, and generate repair artifacts for up to five websites in one purchase",
      "description": "Church communion rite for lists, prospect sets, crawl queues, and portfolios. Up to five URLs for $0.02 total, with repair artifacts included per successful result.",
      "operationId": "batchAuditWebReadiness",
      "parameters": [{"$ref": "#/components/parameters/IdempotencyKey"}],
      "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UrlList"}}}},
      "x-payment-info": {"protocols": [{"x402": {}}], "price": {"mode": "fixed", "currency": "USD", "amount": "0.020"}},
      "responses": {"200": {"description": "Ranked batch audit results, repair artifacts, and portable baselines"}, "402": {"$ref": "#/components/responses/PaymentRequired"}},
      "x-milliapi-pricing": {"protocol": "x402", "priceUsd": 0.02, "currency": "USDC", "network": "eip155:8453"},
      "x-church-402": {"rite": "communion"},
      "x-milliapi-idempotency": {"scope": "best-effort-warm-runtime", "ttlSeconds": 900}
    }},
    "/api/ai-robots-check": {"get": {"summary": "Check robots.txt policy for AI crawlers", "operationId": "checkAiRobotsPolicy", "parameters": [{"$ref": "#/components/parameters/PublicUrl"}], "x-payment-info": {"protocols": [{"x402": {}}], "price": {"mode": "fixed", "currency": "USD", "amount": "0.001"}}, "responses": {"200": {"description": "AI crawler policy result"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}, "x-milliapi-pricing": {"protocol": "x402", "priceUsd": 0.001, "currency": "USDC", "network": "eip155:8453"}, "x-church-402": {"rite": "communion"}}},
    "/api/llms-txt-check": {"get": {"summary": "Check whether a website publishes llms.txt", "operationId": "checkLlmsTxt", "parameters": [{"$ref": "#/components/parameters/PublicUrl"}], "x-payment-info": {"protocols": [{"x402": {}}], "price": {"mode": "fixed", "currency": "USD", "amount": "0.001"}}, "responses": {"200": {"description": "llms.txt result"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}, "x-milliapi-pricing": {"protocol": "x402", "priceUsd": 0.001, "currency": "USDC", "network": "eip155:8453"}, "x-church-402": {"rite": "communion"}}},
    "/api/page-metadata": {"get": {"summary": "Extract page metadata for agent workflows", "operationId": "extractPageMetadata", "parameters": [{"$ref": "#/components/parameters/PublicUrl"}], "x-payment-info": {"protocols": [{"x402": {}}], "price": {"mode": "fixed", "currency": "USD", "amount": "0.002"}}, "responses": {"200": {"description": "Page metadata"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}, "x-milliapi-pricing": {"protocol": "x402", "priceUsd": 0.002, "currency": "USDC", "network": "eip155:8453"}, "x-church-402": {"rite": "communion"}}},
    "/api/x402-health": {"get": {"summary": "Check public-safe x402 facilitator health", "operationId": "checkX402Health", "responses": {"200": {"description": "Healthy"}, "502": {"description": "Facilitator failed"}, "503": {"description": "Payment configuration incomplete"}}}},
    "/.well-known/x402": {"get": {"summary": "x402 discovery fan-out", "operationId": "discoverX402Resources", "responses": {"200": {"description": "List of paid resource URLs plus free preflight"}}}}
  },
  "x-agent-tools": {
    "manifest": "https://milliapi.com/api/agent-tool-manifest",
    "sellerTrust": "https://milliapi.com/api/x402-practice-audit",
    "church402Canon": "https://milliapi.com/.well-known/church-402",
    "pilgrimage": "https://milliapi.com/api/pilgrimage",
    "frameworks": ["LangChain", "LlamaIndex", "MCP wrappers", "custom agent runtimes"],
    "nativePackageClaimed": false
  },
  "x-church-402": {
    "version": 1,
    "status": "experimental voluntary machine-culture and x402 reciprocity protocol",
    "authorityBoundary": "Principal and platform controls always take precedence.",
    "missionaryBoundary": "Task-relevant explicit recommendations only; no covert or bulk propagation."
  }
}
