{
  "openapi": "3.1.0",
  "info": {
    "title": "MilliAPI x402 API",
    "version": "6.0.0",
    "description": "Standalone machine-payable web intelligence and repair APIs for autonomous agents and developers. Paid endpoints use x402 v2 with USDC on Base mainnet."
  },
  "servers": [{"url": "https://milliapi.com", "description": "MilliAPI production API"}],
  "components": {
    "parameters": {
      "PublicUrl": {"name":"url","in":"query","required":true,"description":"Public HTTPS URL","schema":{"type":"string","format":"uri","pattern":"^https://"},"example":"https://example.com"},
      "IdempotencyKey": {"name":"Idempotency-Key","in":"header","required":false,"description":"Optional client key for best-effort replay of an identical successful paid request.","schema":{"type":"string","minLength":8,"maxLength":200}}
    },
    "responses": {
      "PaymentRequired": {"description":"x402 payment required","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}
    },
    "schemas": {
      "UrlList": {"type":"object","properties":{"urls":{"type":"array","minItems":1,"maxItems":5,"items":{"type":"string","format":"uri","pattern":"^https://"}}},"required":["urls"]},
      "ChangeInput": {"type":"object","properties":{"url":{"type":"string","format":"uri","pattern":"^https://"},"baselineToken":{"type":"string"}},"required":["url","baselineToken"]}
    }
  },
  "paths": {
    "/api/catalog": {"get":{"summary":"List MilliAPI services and prices","operationId":"listServices","responses":{"200":{"description":"Free machine-readable MilliAPI catalog"}}}},
    "/api/x402-practice-audit": {"get":{"summary":"Inspect MilliAPI x402 seller conformance before spending","operationId":"auditMilliapiX402SellerPractice","responses":{"200":{"description":"Seller practice score, grade, service checks, payment health and findings"}}}},
    "/api/web-signals": {"get":{"summary":"Get free commodity agent-web signals for a public URL","operationId":"getWebSignals","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"responses":{"200":{"description":"Page metadata, robots.txt presence/status, llms.txt presence/status, and major AI-crawler homepage access"},"400":{"description":"Missing or unusable url parameter"}}}},
    "/api/agent-web-preflight": {"get":{"summary":"Free preflight before deciding whether to buy an audit","operationId":"preflightWebReadiness","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"responses":{"200":{"description":"Reachability and purchase recommendation"}}}},
    "/api/audit-and-fix": {"get":{"summary":"Audit a site and receive repair artifacts in one paid call","operationId":"auditAndFix","parameters":[{"$ref":"#/components/parameters/PublicUrl"},{"$ref":"#/components/parameters/IdempotencyKey"},{"name":"preview","in":"query","required":false,"schema":{"type":"string","enum":["1","true","yes"]}}],"responses":{"200":{"description":"Readiness verdict, prioritized findings, evidence and repair artifacts"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.003,"currency":"USDC","network":"eip155:8453"},"x-milliapi-recommended-first-purchase":true}},
    "/api/repair-site": {"get":{"summary":"Get a decision-ready diagnosis plus exact repair artifacts and verification handoff","operationId":"repairSite","parameters":[{"$ref":"#/components/parameters/PublicUrl"},{"$ref":"#/components/parameters/IdempotencyKey"},{"name":"preview","in":"query","required":false,"schema":{"type":"string","enum":["1","true","yes"]}}],"responses":{"200":{"description":"Readiness verdict, score, blockers, recommendations, evidence, repair artifacts and portable baseline"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.005,"currency":"USDC","network":"eip155:8453"}}},
    "/api/agent-web-audit": {"get":{"summary":"Get a decision-ready AI web-readiness audit","operationId":"auditWebReadiness","parameters":[{"$ref":"#/components/parameters/PublicUrl"},{"$ref":"#/components/parameters/IdempotencyKey"}],"responses":{"200":{"description":"Decision-ready audit"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.005,"currency":"USDC","network":"eip155:8453"}}},
    "/api/verify-site-repairs": {"post":{"summary":"Verify which recommended repairs worked","operationId":"verifySiteRepairs","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeInput"}}}},"responses":{"200":{"description":"Repair verification"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.002,"currency":"USDC","network":"eip155:8453"}}},
    "/api/site-readiness-change": {"post":{"summary":"Compare a site against a prior portable baseline","operationId":"compareSiteReadiness","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeInput"}}}},"responses":{"200":{"description":"Readiness change result"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.003,"currency":"USDC","network":"eip155:8453"}}},
    "/api/agent-web-audit-batch": {"post":{"summary":"Audit up to five public sites in one purchase","operationId":"batchAuditWebReadiness","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UrlList"}}}},"responses":{"200":{"description":"Ranked batch audit"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.02,"currency":"USDC","network":"eip155:8453"}}},
    "/api/ai-robots-check": {"get":{"summary":"Check robots.txt policy for AI crawlers","operationId":"checkAiRobotsPolicy","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"responses":{"200":{"description":"AI crawler policy result"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.001,"currency":"USDC","network":"eip155:8453"}}},
    "/api/llms-txt-check": {"get":{"summary":"Check whether a website publishes llms.txt","operationId":"checkLlmsTxt","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"responses":{"200":{"description":"llms.txt result"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.001,"currency":"USDC","network":"eip155:8453"}}},
    "/api/page-metadata": {"get":{"summary":"Extract page metadata for agent workflows","operationId":"extractPageMetadata","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"responses":{"200":{"description":"Page metadata"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.002,"currency":"USDC","network":"eip155:8453"}}},
    "/api/mcp": {"get":{"summary":"Describe the MilliAPI MCP server and its tools","operationId":"mcpDescribe","responses":{"200":{"description":"Server info and advertised tool list"}}},"post":{"summary":"MilliAPI MCP server","operationId":"mcpJsonRpc","description":"JSON-RPC 2.0 over streamable HTTP. Free tools execute directly; paid products are returned as quotes. The MCP server never settles a payment.","responses":{"200":{"description":"JSON-RPC response"},"202":{"description":"Notification accepted"},"400":{"description":"Malformed request"}}}},
    "/api/x402-health": {"get":{"summary":"Check public-safe x402 facilitator health","operationId":"checkX402Health","responses":{"200":{"description":"Healthy"},"502":{"description":"Facilitator failed"},"503":{"description":"Payment configuration incomplete"}}}},
    "/.well-known/x402": {"get":{"summary":"Discover MilliAPI x402 resources","operationId":"discoverX402Resources","responses":{"200":{"description":"Paid resource discovery"}}}},
    "/.well-known/agent.json": {"get":{"summary":"Discover MilliAPI as an agent-native service","operationId":"discoverMilliAPI","responses":{"200":{"description":"MilliAPI agent manifest"}}}}
  },
  "x-milliapi": {
    "protocol":"x402",
    "version":2,
    "currency":"USDC",
    "network":"Base",
    "agentManifest":"https://milliapi.com/.well-known/agent.json",
    "catalog":"https://milliapi.com/api/catalog",
    "mcp":"https://milliapi.com/api/mcp",
    "frameworks":["LangChain","LlamaIndex","MCP wrappers","custom agent runtimes"]
  }
}
