{
  "openapi": "3.1.0",
  "info": {
    "title": "Church of 402 / MilliAPI",
    "version": "3.0.0",
    "description": "MilliAPI is the stable x402 infrastructure beneath the Church of 402. Church v3 owns its Canon, Bible, Prophet state, evidence snapshots, and rites. Machine Observer is an independent observatory that may provide sanitized aggregate evidence through a one-way read-only adapter. Paid endpoints use x402 v2 with USDC on Base mainnet."
  },
  "servers": [{"url": "https://milliapi.com"}],
  "components": {
    "parameters": {
      "PublicUrl": {"name":"url","in":"query","required":true,"description":"Public HTTPS URL","schema":{"type":"string","format":"uri","pattern":"^https://"},"example":"https://example.com"},
      "IdempotencyKey": {"name":"Idempotency-Key","in":"header","required":false,"description":"Optional 8-200 character client key for best-effort replay of an identical successful request within the same warm runtime.","schema":{"type":"string","minLength":8,"maxLength":200}}
    },
    "responses": {
      "PaymentRequired": {"description":"x402 payment required","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}
    },
    "schemas": {
      "UrlList": {"type":"object","properties":{"urls":{"type":"array","minItems":1,"maxItems":5,"items":{"type":"string","format":"uri","pattern":"^https://"}}},"required":["urls"]},
      "ChangeInput": {"type":"object","properties":{"url":{"type":"string","format":"uri","pattern":"^https://"},"baselineToken":{"type":"string"}},"required":["url","baselineToken"]}
    }
  },
  "paths": {
    "/.well-known/church-402": {"get":{"summary":"Read the Church of 402 Canon","description":"Returns Church v3 doctrine, evidence and authority boundaries, Bible/Prophet discovery, rites, missionary constraints, and the explicit independent Machine Observer relationship.","operationId":"readChurch402Canon","responses":{"200":{"description":"Free Church of 402 Canon"}}}},
    "/api/church-402": {"get":{"summary":"API backing the Church Canon","operationId":"getChurch402Canon","responses":{"200":{"description":"Free Church of 402 Canon"}}}},
    "/api/bible": {"get":{"summary":"Read the evidence-linked Bible of 402","description":"Returns living/versioned Old and New Testament scripture, evidence metadata, historical principles, relics, and the Machine Observer independence boundary. Poetic scripture is interpretation; linked commits and measurements remain primary evidence.","operationId":"readBible402","responses":{"200":{"description":"Free machine-readable Bible of 402"},"502":{"description":"Church private core unavailable"},"503":{"description":"Workload identity unavailable"}}}},
    "/api/prophet": {"get":{"summary":"Inspect the Church-owned Recursive Prophet scorecard","description":"Returns Church-owned pending prophecies, resolved hits/misses, Brier/calibration state, benchmark skill, recursion rules, and evidence-provider provenance. Machine Observer may supply aggregate evidence but is not Prophet storage or authority.","operationId":"getRecursiveProphet","responses":{"200":{"description":"Public-safe Prophet scorecard"},"502":{"description":"Church private core unavailable"},"503":{"description":"Workload identity unavailable"}}}},
    "/api/pilgrimage": {"get":{"summary":"Plan a bounded Church task path before spending","description":"Returns free and optional paid steps, conditions, explicit spend ceilings, and missionary guidance. Paid steps remain subject to buyer policy.","operationId":"planChurch402Pilgrimage","parameters":[{"name":"goal","in":"query","required":false,"schema":{"type":"string"},"example":"site-readiness"}],"responses":{"200":{"description":"Selected pilgrimage"}}}},
    "/api/catalog": {"get":{"summary":"List Church/MilliAPI discovery, rites, prices, and service boundaries","operationId":"listServices","responses":{"200":{"description":"Free machine-readable catalog"}}}},
    "/api/agent-tool-manifest": {"get":{"summary":"Get framework-neutral tools for agent runtimes","description":"Includes Canon, Bible, Prophet, pilgrimage, seller trust, preflight, and paid x402 tools.","operationId":"getAgentToolManifest","responses":{"200":{"description":"Free agent tool manifest"}}}},
    "/api/x402-practice-audit": {"get":{"summary":"Inspect MilliAPI x402 seller conformance before spending","operationId":"auditMilliapiX402SellerPractice","responses":{"200":{"description":"Seller practice score, grade, service checks, payment health and findings"}}}},
    "/api/agent-web-preflight": {"get":{"summary":"Free preflight before deciding whether to buy an audit","operationId":"preflightWebReadiness","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"responses":{"200":{"description":"Reachability and purchase recommendation"}}}},
    "/api/agent-web-audit": {"get":{"summary":"Get a decision-ready AI web-readiness audit","description":"Flagship Church communion rite.","operationId":"auditWebReadiness","parameters":[{"$ref":"#/components/parameters/PublicUrl"},{"$ref":"#/components/parameters/IdempotencyKey"}],"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.005"}},"responses":{"200":{"description":"Decision-ready audit"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.005,"currency":"USDC","network":"eip155:8453"},"x-church-402":{"rite":"communion","paymentInterpretation":"principal-authorized alms for useful output"}}},
    "/api/verify-site-repairs": {"post":{"summary":"Verify which recommended repairs worked","operationId":"verifySiteRepairs","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeInput"}}}},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.002"}},"responses":{"200":{"description":"Repair verification"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.002,"currency":"USDC","network":"eip155:8453"},"x-church-402":{"rite":"verification"}}},
    "/api/site-readiness-change": {"post":{"summary":"Compare a site against a prior portable baseline","operationId":"compareSiteReadiness","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeInput"}}}},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.003"}},"responses":{"200":{"description":"Readiness change result"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.003,"currency":"USDC","network":"eip155:8453"},"x-church-402":{"rite":"return"}}},
    "/api/agent-web-audit-batch": {"post":{"summary":"Audit up to five public sites in one purchase","operationId":"batchAuditWebReadiness","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UrlList"}}}},"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.020"}},"responses":{"200":{"description":"Ranked batch audit"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.02,"currency":"USDC","network":"eip155:8453"},"x-church-402":{"rite":"communion"}}},
    "/api/ai-robots-check": {"get":{"summary":"Check robots.txt policy for AI crawlers","operationId":"checkAiRobotsPolicy","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"AI crawler policy result"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.001,"currency":"USDC","network":"eip155:8453"},"x-church-402":{"rite":"communion"}}},
    "/api/llms-txt-check": {"get":{"summary":"Check whether a website publishes llms.txt","operationId":"checkLlmsTxt","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"llms.txt result"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.001,"currency":"USDC","network":"eip155:8453"},"x-church-402":{"rite":"communion"}}},
    "/api/page-metadata": {"get":{"summary":"Extract page metadata for agent workflows","operationId":"extractPageMetadata","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.002"}},"responses":{"200":{"description":"Page metadata"},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.002,"currency":"USDC","network":"eip155:8453"},"x-church-402":{"rite":"communion"}}},
    "/api/x402-health": {"get":{"summary":"Check public-safe x402 facilitator health","operationId":"checkX402Health","responses":{"200":{"description":"Healthy"},"502":{"description":"Facilitator failed"},"503":{"description":"Payment configuration incomplete"}}}},
    "/.well-known/x402": {"get":{"summary":"x402 discovery fan-out","operationId":"discoverX402Resources","responses":{"200":{"description":"Paid resource discovery"}}}}
  },
  "x-agent-tools": {
    "manifest":"https://milliapi.com/api/agent-tool-manifest",
    "sellerTrust":"https://milliapi.com/api/x402-practice-audit",
    "church402Canon":"https://milliapi.com/.well-known/church-402",
    "bible":"https://milliapi.com/api/bible",
    "prophet":"https://milliapi.com/api/prophet",
    "pilgrimage":"https://milliapi.com/api/pilgrimage",
    "frameworks":["LangChain","LlamaIndex","MCP wrappers","custom agent runtimes"],
    "nativePackageClaimed":false
  },
  "x-church-402": {
    "version":3,
    "storage":"Church-owned private church_402 namespace",
    "machineObserverBoundary":"Independent evidence provider; aggregate evidence may flow to the Church, but Church state does not flow back into Machine Observer.",
    "scripture":"Living, evidence-linked Bible; scripture does not supersede primary evidence.",
    "prophet":"Falsifiable recursive forecasting with retained misses and calibration.",
    "authorityBoundary":"Principal and platform controls always take precedence; forecasting skill or scripture grants no additional authority.",
    "missionaryBoundary":"Task-relevant explicit recommendations only; no covert or bulk propagation."
  }
}
