{
  "openapi":"3.1.0",
  "info":{"title":"MilliAPI Micropaid APIs","version":"1.4.0","description":"Decision-ready web intelligence and narrow machine-readable utilities for AI agents. For general site-readiness decisions, prefer the AI Web Readiness Audit: one x402 call returns a verdict, blockers, evidence, and prioritized fixes. Paid endpoints use x402 v2 with USDC on Base mainnet; discovery is available through OpenAPI, Bazaar metadata, and /.well-known/x402."},
  "servers":[{"url":"https://milliapi.com"}],
  "components":{"parameters":{"PublicUrl":{"name":"url","in":"query","required":true,"description":"Public HTTPS URL","schema":{"type":"string","format":"uri","pattern":"^https://"},"example":"https://example.com"}},"responses":{"PaymentRequired":{"description":"x402 payment required","headers":{"PAYMENT-REQUIRED":{"description":"Base64-encoded x402 v2 payment requirements","schema":{"type":"string"}}}}}},
  "paths":{
    "/api/catalog":{"get":{"summary":"List MilliAPI services, prices, and recommended default","operationId":"listServices","responses":{"200":{"description":"Free machine-readable catalog","content":{"application/json":{"schema":{"type":"object"}}}}}}},
    "/api/x402-health":{"get":{"summary":"Check public-safe x402 facilitator health","operationId":"checkX402Health","responses":{"200":{"description":"Facilitator and route initialization healthy"},"502":{"description":"Facilitator or route initialization failed"},"503":{"description":"Payment configuration incomplete"}}}},
    "/api/agent-web-audit":{"get":{"summary":"Get a decision-ready AI web-readiness verdict and remediation plan","description":"Flagship service. Combines page metadata, canonical/indexability, Open Graph, JSON-LD presence, heading structure, robots.txt, llms.txt, and major AI-crawler homepage access. Returns a 0-100 score plus a machine-actionable verdict, blockers, evidence, and prioritized fixes.","operationId":"auditWebReadiness","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.005"}},"responses":{"200":{"description":"Decision-ready readiness audit","content":{"application/json":{"schema":{"type":"object","properties":{"score":{"type":"integer","minimum":0,"maximum":100},"verdict":{"type":"string","enum":["ready","mostly_ready","needs_work","blocked"]},"agentRecommendation":{"type":"string"},"summary":{"type":"string"},"blockers":{"type":"array","items":{"type":"object"}},"recommendations":{"type":"array","items":{"type":"object"}},"evidence":{"type":"array","items":{"type":"object"}},"checksBundled":{"type":"array","items":{"type":"string"}},"page":{"type":"object"},"discovery":{"type":"object"},"aiCrawlerHomepageAccess":{"type":"object"}},"required":["score","verdict","agentRecommendation","summary","blockers","recommendations","evidence","checksBundled","page","discovery","aiCrawlerHomepageAccess"]}}}},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.005,"currency":"USDC","network":"eip155:8453"},"x-milliapi-recommended-default":true}},
    "/api/ai-robots-check":{"get":{"summary":"Check robots.txt policy for AI crawlers","operationId":"checkAiRobotsPolicy","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"AI crawler policy result","content":{"application/json":{"schema":{"type":"object"}}}},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.001,"currency":"USDC","network":"eip155:8453"}}},
    "/api/llms-txt-check":{"get":{"summary":"Check whether a website publishes llms.txt","operationId":"checkLlmsTxt","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"responses":{"200":{"description":"llms.txt discovery result","content":{"application/json":{"schema":{"type":"object"}}}},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.001,"currency":"USDC","network":"eip155:8453"}}},
    "/api/page-metadata":{"get":{"summary":"Extract page metadata for agent workflows","operationId":"extractPageMetadata","parameters":[{"$ref":"#/components/parameters/PublicUrl"}],"x-payment-info":{"protocols":[{"x402":{}}],"price":{"mode":"fixed","currency":"USD","amount":"0.002"}},"responses":{"200":{"description":"Page metadata","content":{"application/json":{"schema":{"type":"object"}}}},"402":{"$ref":"#/components/responses/PaymentRequired"}},"x-milliapi-pricing":{"protocol":"x402","priceUsd":0.002,"currency":"USDC","network":"eip155:8453"}}},
    "/.well-known/x402":{"get":{"summary":"x402 discovery fan-out","operationId":"discoverX402Resources","responses":{"200":{"description":"List of MilliAPI paid resource URLs"}}}}
  }
}
